*{
    letter-spacing: 0.70px;
    font-weight: 615;
}

:root{
    --black-color:  #000000ff;
    --blue-dark-color: #012740;
    --purple-dark-color: #37023C;
    --vine-color: rgba(138, 20, 40, 1);
    --probably-purple: #b72d88;
    --green-color: rgb(0, 110, 48);
    --white-color: rgb(255,255,255);
}

.form-control::placeholder {
    color: #bbb;
    opacity: 1; 
}
h1{
    color: var(--white-color);
    letter-spacing: 0.80px;
}
.btn-register{
    color: var(--white-color);
}
.form-control:focus {
    outline: none !important;
    box-shadow: none !important;
}
.login-body{
    background-image: url(../assets/img/zorrita.svg); 
    background-size: cover;
    background-position: center;
}
.register-body{
    background-image: url(../assets/img/zorrita.svg); 
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
.zorra{
    animation: floatSpace 30s linear infinite;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    width: 400px;
    height: 200px;
    z-index: 0; 
    cursor: pointer;
}
.fade-out {
    transition: 0.5s ease;
}

@keyframes floatSpace {
    0% {
        transform: translate(30vw, -50vh) rotate(0deg);
    }
    15% {
        transform: translate(40vw, -25vh) rotate(-8deg);
    }
    30% {
        transform: translate(50vw, 0vh) rotate(-16deg);
    }
    45% {
        transform: translate(60vw, 15vh) rotate(-24deg);
    }
    60% {
        transform: translate(70vw, 30vh) rotate(-32deg);
    }
    75% {
        transform: translate(80vw, 50vh) rotate(-40deg);
    }
    85% { /* Ajustado de 90% a 85% para mantener ritmo */
        transform: translate(90vw, 70vh) rotate(-48deg);
    }
    95% { /* Ajustado para dar más tiempo a la salida */
        transform: translate(110vw, 90vh) rotate(-56deg);
    }
    100% {
        /* El final real debe ser 100%. Eliminamos el 110% */
        transform: translate(120vw, 110vh) rotate(-56deg);
    }
}
.text-2{
    color: #bbb;
    font-size: 16px;
}
.form-control{
    font-weight: 500;

}
.cont-left{
    background: rgba(255, 255, 255, 0.08); /* transparencia */
    backdrop-filter: blur(12px); /* EL EFECTO CLAVE */
    -webkit-backdrop-filter: blur(12px);
}
.btn-link:hover{
    color: #000000ff;
}
@media (max-width: 768px) {
    .login-section {
        padding: 20px;
    }
    .cont-left{
    background: rgba(255, 255, 255, 0.02); /* transparencia */
    backdrop-filter: blur(3px); /* EL EFECTO CLAVE */
    -webkit-backdrop-filter: blur(3px);
}
}