#Postgres:
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PWD= 
DB_SCHEMA=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

#encrypt cookie's session 
SESSION_SECRET=

N8N_WEBHOOK_BASE=

#App:
APP_PORT=