@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap');

body {
    margin: 0;
    overflow: hidden;
    background-color: #0f172a; /* Slate 900 */
    color: white;
    font-family: 'Fira Code', monospace;
}

canvas {
    display: block;
}

/* Ocultar input para móviles pero mantenerlo enfocable para abrir el teclado */
#mobile-input {
    position: absolute;
    opacity: 0;
    top: -1000px;
}